﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="~/escuela/Inicio.Master.cs"
    Inherits="admin_inicio" %>

<!DOCTYPE HTML>
<html>
<head id="Head1" runat="server">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Escuela de Musica - A tempo</title>
    <!-- Core CSS - Include with every page -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link rel="icon" href="../images/logo-atempo.png" />
    <link rel="shortcut icon" href="../images/logo-atempo.png" />
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://yui.yahooapis.com/3.17.2/build/cssbutton/cssbutton.css" />
    <link href="css/Estilo.css" rel="Stylesheet" />
    <!-- Page-Level Plugin CSS - Dashboard -->
    <link href="css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <link href="css/plugins/timeline/timeline.css" rel="stylesheet" />
    <!-- SB Admin CSS - Include with every page -->
    <link href="css/sb-admin.css" rel="stylesheet" />

    <style type="text/css">
        .formLayoutContainer
        {
            width: 760px;
            margin: auto;
        }

        .layoutGroupBoxCaption
        {
            font-size: 16px;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
        <div id="wrapper">
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="sr-only">Navegacion</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.aspx">Escuela de Musica - A Tempo Musica</a>
                </div>
                <!-- /.navbar-header -->

                <ul class="nav navbar-top-links navbar-right">

                    <!-- /.dropdown -->
                    <li class="dropdown" id="ddlAcceso" runat="server">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-tasks fa-fw"></i><i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li id="ddlEscuela" runat="server"><a href="../escuela/index.aspx"><i class="fa fa-user fa-fw"></i>Escuela de Musica</a>
                            </li>
                            <li runat="server" id="ddlSala"><a href="../sala/index.aspx"><i class="fa fa-music fa-fw"></i>Sala de Ensayo</a>
                            </li>
                            <li runat="server" id="ddlBar"><a href="../bar/index.aspx"><i class="fa fa-beer fa-fw"></i>Bar</a>
                            </li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i><i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="perfil.aspx"><i class="fa fa-user fa-fw"></i>Perfil Usuario</a>
                            </li>
                            <li runat="server" id="liConfiguracion"><a href="../escuela/datosempresa.aspx"><i class="fa fa-gear fa-fw"></i>Configuracion</a>
                            </li>
                            <li class="divider"></li>
                            <li><a>
                                <asp:LinkButton ID="lnkLogout" runat="server" Text="Logout" OnClick="lnkLogout_Click"></asp:LinkButton></a>
                            </li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                    <!-- /.dropdown -->
                </ul>
                <!-- /.navbar-top-links -->

            </nav>
            <!-- /.navbar-static-top -->
            <nav class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav" id="side-menu">

                        <li>
                            <a href="index.aspx" class="active"><i class="fa fa-dashboard fa-fw"></i>Inicio</a>
                        </li>
                        <li>
                            <a href="alumnos.aspx"><i class="fa fa-user fa-fw"></i>Alumnos</a>
                        </li>

                        <li>
                            <a href="#"><i class="fa fa-user fa-fw"></i>Profesores<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="profesores.aspx">Listado Profesores</a>
                                </li>
                                <li>
                                    <a href="horariosDisp.aspx">Disponibilidad Horaria</a>
                                </li>
                                <li>
                                    <a href="asignaCursos.aspx">Asignar Curso a Profesor</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>Inscripcion Alumno<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="inscripcion.aspx">Inscripcion</a>
                                </li>
                                <li>
                                    <a href="inscripciones.aspx">Listado Inscripciones</a>
                                </li>


                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>Pagos<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="PagoProfesor.aspx">Pago a Profesores</a>
                                </li>
                                <li>
                                    <a href="cuotaAlumno.aspx">Pago Cuota Alumno</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>Cursos<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="cursos.aspx">Listado de Cursos</a>
                                </li>
                                <li>
                                    <a href="tipoCurso.aspx">Tipo Cursos</a>
                                </li>


                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>Gestion de Asistencias<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="asistenacias.aspx"><i class="fa fa-dashboard fa-fw"></i>Registro Asistencias</a>
                                </li>
                                <li>
                                    <a href="listadoAsistencias.aspx"><i class="fa fa-dashboard fa-fw"></i>Listado de Asistencias</a>
                                </li>
                            </ul>

                        </li>

                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>Gestion Caja Diaria<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="caja.aspx"><i class="fa fa-dashboard fa-fw"></i>Caja Diaria</a>
                                </li>
                                <li>
                                    <a href="IngresosEgresosCaja.aspx"><i class="fa fa-dashboard fa-fw"></i>Ingresos/Egresos de Caja</a>
                                </li>
                            </ul>

                        </li>
                        <li>
                            <a href="Gastos.aspx"><i class="fa fa-dashboard fa-fw"></i>Gastos</a>
                        </li>
                        <li>
                            <a href="ganancias.aspx"><i class="fa fa-money fa-fw"></i>Reporte de ganancias</a>
                        </li>
                        <li runat="server" id="liConfiguracionGeneral">
                            <a href="#"><i class="fa fa-wrench fa-fw"></i>Configuracion General<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="usuarios.aspx">Usuarios</a>
                                </li>
                                <li>
                                    <a href="datosempresa.aspx">Datos de la Empresa</a>
                                </li>
                                <li>
                                    <a href="Notificaciones.aspx">Panel de Notificaciones</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                    <!-- /#side-menu -->
                </div>
                <!-- /.sidebar-collapse -->
            </nav>
            <!-- /.navbar-static-side -->
            <!--CONTENEDOR -->
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>

        </div>
    </form>
</body>
<!-- Core Scripts - Include with every page -->
<script src="../js/jquery-1.10.2.js" type="text/javascript"></script>
<script src="../js/bootstrap.min.js" type="text/javascript"></script>
<script src="../js/plugins/metisMenu/jquery.metisMenu.js" type="text/javascript"></script>
<!-- Page-Level Plugin Scripts - Blank -->
<!-- SB Admin Scripts - Include with every page -->
<script src="../js/sb-admin.js" type="text/javascript"></script>
<!-- Page-Level Demo Scripts - Blank - Use for reference -->
</html>
