﻿<%@ Page Title="" Language="C#" MasterPageFile="~/sala/inicio.master" AutoEventWireup="true" CodeBehind="~/sala/perfil.aspx.cs" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
<div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Perfil de Usuario</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Datos Usuario
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="table-responsive"> 
                              

                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /#page-wrapper -->

                        </div>
                    </div>
            </div>
            <!-- /#wrapper -->

           
    
</div>
<!--HASTA ACA EL CONTENT-->
</asp:Content>
