﻿<%@ Page Title="" Language="C#" MasterPageFile="~/bar/inicio.master" AutoEventWireup="true"
    CodeFile="EditarArticulo.aspx.cs" Inherits="bar_EditarArticulo" %>

<%@ Register Assembly="DevExpress.Web.v14.1, Version=14.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxFormLayout" TagPrefix="dx" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Articulo</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Articulo
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <div class="formLayoutContainer">
                                <dx:ASPxFormLayout runat="server" RequiredMarkDisplayMode="Auto" Styles-LayoutGroupBox-Caption-CssClass="layoutGroupBoxCaption"
                                    AlignItemCaptionsInAllGroups="True" Theme="Aqua" Width="100%">
                                    <Items>
                                        <dx:TabbedLayoutGroup Caption="Tabbed Group" Width="100%">
                                            <Items>
                                                <dx:LayoutGroup Caption=" Articulo" ShowCaption="False">
                                                    <Items>
                                                        <dx:LayoutGroup Caption="Datos Articulo" ColCount="2"
                                                            GroupBoxDecoration="HeadingLine">
                                                            <Items>
                                                                <dx:LayoutItem Caption="Descripcion" ColSpan="2">
                                                                    <LayoutItemNestedControlCollection>
                                                                        <dx:LayoutItemNestedControlContainer runat="server" SupportsDisabledAttribute="True">
                                                                            <dx:ASPxTextBox runat="server" Width="170px" ID="txtDescripcionArticulo">
                                                                            </dx:ASPxTextBox>
                                                                        </dx:LayoutItemNestedControlContainer>
                                                                    </LayoutItemNestedControlCollection>
                                                                </dx:LayoutItem>
                                                                <dx:LayoutItem Caption="Tipo Articulo" ColSpan="2">
                                                                    <LayoutItemNestedControlCollection>
                                                                        <dx:LayoutItemNestedControlContainer runat="server" SupportsDisabledAttribute="True">
                                                                            <dx:ASPxComboBox runat="server" ID="cbTipoArticulo" IncrementalFilteringMode="StartsWith"
                                                                                TextField="DescripcionTipoArticulo" ValueField="IDTipoArticulo"
                                                                                DataSourceID="SqlDataSource1" />
                                                                            <asp:SqlDataSource ID="SqlDataSource1" runat="server" ConnectionString="<%$ ConnectionStrings:EscuelaDeMusicaConnectionString %>"
                                                                                SelectCommand="SELECT IDTipoArticulo,DescripcionTipoArticulo FROM TiposArticulos where FechaBajaTipoArticulo IS NULL"></asp:SqlDataSource>
                                                                        </dx:LayoutItemNestedControlContainer>
                                                                    </LayoutItemNestedControlCollection>
                                                                </dx:LayoutItem>
                                                                <dx:LayoutItem Caption="Stock" ColSpan="2">
                                                                    <LayoutItemNestedControlCollection>
                                                                        <dx:LayoutItemNestedControlContainer runat="server" SupportsDisabledAttribute="True">
                                                                            <dx:ASPxTextBox runat="server" Width="170px" ID="txtStock">
                                                                            </dx:ASPxTextBox>
                                                                        </dx:LayoutItemNestedControlContainer>
                                                                    </LayoutItemNestedControlCollection>
                                                                </dx:LayoutItem>
                                                            </Items>
                                                        </dx:LayoutGroup>
                                                    </Items>
                                                </dx:LayoutGroup>
                                                <dx:LayoutGroup Caption="Precio y Costo" ShowCaption="False">
                                                    <Items>
                                                        <dx:LayoutGroup Caption="Precio Articulo" GroupBoxDecoration="HeadingLine">
                                                            <Items>
                                                                <dx:LayoutItem Caption="Precio">
                                                                    <LayoutItemNestedControlCollection>
                                                                        <dx:LayoutItemNestedControlContainer runat="server" SupportsDisabledAttribute="True">
                                                                            <dx:ASPxTextBox ID="txtPrecio" runat="server" Width="200px">
                                                                            </dx:ASPxTextBox>
                                                                        </dx:LayoutItemNestedControlContainer>
                                                                    </LayoutItemNestedControlCollection>
                                                                </dx:LayoutItem>

                                                            </Items>
                                                        </dx:LayoutGroup>
                                                        <dx:LayoutGroup Caption="Costo Articulo" GroupBoxDecoration="HeadingLine">
                                                            <Items>
                                                                <dx:LayoutItem Caption="Costo">
                                                                    <LayoutItemNestedControlCollection>
                                                                        <dx:LayoutItemNestedControlContainer ID="LayoutItemNestedControlContainer2" runat="server"
                                                                            SupportsDisabledAttribute="True">
                                                                            <dx:ASPxTextBox ID="txtCosto" runat="server" Width="200px">
                                                                            </dx:ASPxTextBox>
                                                                        </dx:LayoutItemNestedControlContainer>
                                                                    </LayoutItemNestedControlCollection>
                                                                </dx:LayoutItem>

                                                            </Items>
                                                        </dx:LayoutGroup>
                                                    </Items>
                                                </dx:LayoutGroup>
                                            </Items>
                                        </dx:TabbedLayoutGroup>
                                    </Items>
                                    <Styles>
                                        <LayoutGroupBox>
                                            <Caption CssClass="layoutGroupBoxCaption">
                                            </Caption>
                                        </LayoutGroupBox>
                                    </Styles>
                                </dx:ASPxFormLayout>
                                <p>
                                </p>
                                <p style="text-align: right">
                                    <asp:Button ID="btnGurardar" runat="server" Text="Guardar" type="button" class="btn btn-outline btn-primary"
                                        Width="150px" OnClick="btnGuardar_Click" />
                                    <asp:Button ID="btnCancelar" runat="server" Text="Cancelar" type="button" class="btn btn-outline btn-danger"
                                        Width="150px" OnClick="btnCancelar_Click" />
                                </p>
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /#page-wrapper -->
                </div>
            </div>
        </div>
        <!-- /#wrapper -->
    </div>
    <!--HASTA ACA EL CONTENT-->
</asp:Content>
