﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="inicio.master.cs" Inherits="admin_inicio" %>

<!DOCTYPE HTML>
<html>
<head id="Head1" runat="server">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bar - A Tempo</title>
    <!-- Core CSS - Include with every page -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="icon" href="../images/logo-atempo.png" />
    <link rel="shortcut icon" href="../images/logo-atempo.png" />
    <!-- Page-Level Plugin CSS - Dashboard -->
    <link href="css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <link href="css/plugins/timeline/timeline.css" rel="stylesheet" />
    <!-- SB Admin CSS - Include with every page -->
    <link href="css/sb-admin.css" rel="stylesheet" />

    <style type="text/css">
        .formLayoutContainer
        {
            width: 760px;
            margin: auto;
        }

        .layoutGroupBoxCaption
        {
            font-size: 16px;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
        <div id="wrapper">
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="sr-only">Navegacion</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.aspx">Bar - A Tempo Musica</a>
                </div>
                <!-- /.navbar-header -->

                <ul class="nav navbar-top-links navbar-right">

                    <!-- /.dropdown -->
                    <li class="dropdown" id="ddlAcceso" runat="server">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-tasks fa-fw"></i><i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li id="ddlEscuela" runat="server"><a href="../escuela/index.aspx"><i class="fa fa-user fa-fw"></i>Escuela de Musica</a>
                            </li>
                            <li runat="server" id="ddlSala"><a href="../sala/index.aspx"><i class="fa fa-music fa-fw"></i>Sala de Ensayo</a>
                            </li>
                            <li runat="server" id="ddlBar"><a href="../bar/index.aspx"><i class="fa fa-beer fa-fw"></i>Bar</a>
                            </li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i><i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="perfil.aspx"><i class="fa fa-user fa-fw"></i>Perfil Usuario</a>
                            </li>
                            <li runat="server" id="liConfiguracion"><a href="../escuela/datosempresa.aspx"><i class="fa fa-gear fa-fw"></i>Configuracion</a>
                            </li>
                            <li class="divider"></li>
                            <li><a>
                                <asp:LinkButton ID="lnkLogout" runat="server" Text="Logout" OnClick="lnkLogout_Click"></asp:LinkButton></a>
                            </li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                    <!-- /.dropdown -->
                </ul>
                <!-- /.navbar-top-links -->

            </nav>
            <!-- /.navbar-static-top -->
            <nav class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="index.aspx"><i class="fa fa-dashboard fa-fw"></i>Inicio</a>
                        </li>
                        <li>
                            <a href="Articulo.aspx"><i class="fa fa-dashboard fa-fw"></i>Articulos</a>
                        </li>
                        <li>
                            <a href="TipoArticulo.aspx"><i class="fa fa-dashboard fa-fw"></i>Tipo Articulos</a>
                        </li>
                        <%--<li>
                        <a href="Venta.aspx"><i class="fa fa-dashboard fa-fw"></i> Punto de Venta</a>
                    </li>--%>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>Ventas<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="Venta.aspx"><i class="fa fa-dashboard fa-fw"></i>Punto de Venta</a>
                                </li>
                                <li>
                                    <a href="Ventas.aspx"><i class="fa fa-dashboard fa-fw"></i>Listado de Ventas</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>Gestion Caja Diaria<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="CajaBar.aspx"><i class="fa fa-dashboard fa-fw"></i>Caja Diaria</a>
                                </li>
                                <li>
                                    <a href="IngresosEgresosCaja.aspx"><i class="fa fa-dashboard fa-fw"></i>Ingreso/Egreso de Caja</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="Gastos.aspx"><i class="fa fa-dashboard fa-fw"></i>Gastos</a>
                        </li>
                        <li>
                            <a href="GananciasBar.aspx"><i class="fa fa-dashboard fa-fw"></i>Reporte de ganancias</a>
                        </li>
                    </ul>
                    <!-- /#side-menu -->
                </div>
                <!-- /.sidebar-collapse -->
            </nav>
            <!-- /.navbar-static-side -->
            <!--CONTENEDOR -->
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
            <%--<dx:ASPxPopupControl ID="pcMensaje" runat="server" EnableTheming="True" Theme="RedWine"
            CloseAction="CloseButton" Modal="True" PopupHorizontalAlign="WindowCenter" PopupVerticalAlign="WindowCenter"
            ClientInstanceName="pcMensaje" HeaderText="" AllowDragging="True" PopupAnimationType="None"
            EnableViewState="False">
            <ContentCollection>
                <dx:PopupControlContentControl ID="PopupControlContentControl3" runat="server" SupportsDisabledAttribute="True">
                    <table class="nav-justified">
                        <tr>
                            <td colspan="2">
                                <dx:ASPxLabel ID="lblMensaje" runat="server" Text="" Theme="Aqua">
                                </dx:ASPxLabel>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <dx:ASPxButton ID="btnAceptarMensajeCerrarSesion" runat="server" Text="Aceptar" 
                                    OnClick="btnAceptarMensajeCerrarSesion_Click">
                                    <ClientSideEvents Click="function(s, e) { pcMensaje.Hide(); }" />
                                </dx:ASPxButton>
                            </td>
                        </tr>
                    </table>
                </dx:PopupControlContentControl>
            </ContentCollection>
        </dx:ASPxPopupControl>--%>
        </div>
    </form>
</body>
<!-- Core Scripts - Include with every page -->
<script src="js/jquery-1.10.2.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/plugins/metisMenu/jquery.metisMenu.js" type="text/javascript"></script>
<!-- Page-Level Plugin Scripts - Blank -->
<!-- SB Admin Scripts - Include with every page -->
<script src="js/sb-admin.js" type="text/javascript"></script>
<!-- Page-Level Demo Scripts - Blank - Use for reference -->
</html>
